@import '/src/assets/styles/mixins.scss';

:host {
  display: block;
  height: 100%;
  padding-top: 70px;
}

.title {
  margin-top: 48px;
  text-align: center;

  @include header($color: #007dc0);
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.catalog__direction {
  width: 512px;
  height: 150px;
  margin-top: 32px;
  background-image: url(/assets/images/direction.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.catalog__shop {
  width: 100%;
  margin-top: 24px;
}
