@import './assets/styles/theme.scss';

html,
body,
.main {
  height: 100%;
}

body {
  background: #f8f8f8;
  overscroll-behavior-x: none;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
