@mixin setFont($font-family, $font-name, $font-weight, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: url('/assets/fonts/' + $font-family + '/' + $font-name + '.ttf')
      format('ttf');
  }
}

@mixin hint($color: rgba(0, 0, 0, 0.54), $weight: 400, $size: 13px) {
  line-height: 1.4;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin regular($color: rgba(0, 0, 0, 0.64), $weight: 400, $size: 16px) {
  line-height: 1.4;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin header($color: #000000, $weight: 500, $size: 22px) {
  line-height: 1.4;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
